@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

html,
body {
  font-family: "Merriweather", serif;
}
.top-bar h1 {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}
#wrapper {
  max-width: 980px;
  margin: 0 auto;
}
article h2 {
  margin: 0;
}
.excerpt p {
  font-size: 15px;
  line-height: 30px;
  margin: 0 0 20px 0;
}
.post-meta {
  margin: 10px 0;
}
#main-container {
  width: 65%;
}
#sidebar {
  width: 30%;
}
.main-section-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#sidebar {
  font-size: 13px;
  line-height: 30px;
}
#sidebar h4 {
  margin: 0;
}
#sidebar p {
  margin: 0;
}
