@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Lora&display=swap");

html,
body {
  font-family: "Lato", sans-serif;
}
.top-bar h1 {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  font-family: "Lora", serif;
}
#wrapper {
  max-width: 980px;
  margin: 0 auto;
}
article h2 {
  margin: 0;
  font-family: "Lora", serif;
  color: #2772db;
}
.excerpt p {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 20px 0;
}
.post-meta {
  margin: 10px 0;
}
#sidebar {
  width: 100%;
}
.main-section-wrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
  margin: auto;
}
#sidebar {
  font-size: 16px;
  line-height: 24px;
}
#sidebar ul {
  display: inline-flex;
}
#sidebar ul li {
  margin: 0 10px 0 0;
}
#sidebar ul li a {
  text-decoration: none;
}
#sidebar ul li a:hover {
  text-decoration: underline;
}
#sidebar h4 {
  margin: 0;
}
#sidebar p {
  margin: 0;
}
#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 1024px) {
  .main-section-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  #main-container {
    width: 65%;
  }
  #sidebar {
    width: 30%;
  }
}
